<a href="/">Return to the Corpus</a>
<div class="add">
<h1>Add Text to the Corpus</h1>
<form method="POST" action="/add">
	<textarea name="text" rows="15"></textarea>
	<button>Add</button>
</form>
</div>