<html>
    <head>
        <title>SB</title>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet' type='text/css'>    
</head>
    <body>
        {{{yield}}}
    </body>
</html>